/* General Styling */
body {
  background-color: skyblue
}
img {
width: 1300px;
}

p{
  font-family: 'Amatic SC', cursive;
  width: 800px;
}
h1, p {
 width: 800px;
 margin-left: auto;
 margin-right: auto;
 font-family: 'Amatic SC', cursive;
}

h2, p {
 width: 600px;
 margin-left: auto;
 margin-right: auto;
 font-family: 'Amatic SC', cursive;
}

h3, p {
 width: 500px;
 margin-left: auto;
 margin-right: auto;
 font-family: 'Amatic SC', cursive;
}

h4, p {
 width: 500px;
 margin-left: auto;
 margin-right: auto;
 font-family: 'Amatic SC', cursive;
}



.pull-quote {
 font-size: 20px;
 width: 200px;
 float: left;
 background: white;
 font-family: 'Amatic SC', cursive;
}

 }
 .pull-quote {
   float: none;
   width: 100%;
   font-family: 'Amatic SC', cursive;
 }
}
