.T{
  font-family: Sail;
  font-size:800px;
  display: inline;
  margin-left: 20%;
}

.Title{
  font-family: Old Standard TT;
  font-size: 18px;
  display:inline;
}

.Vision{
  font-family: Old Standard TT;
  font-size: 18px;
  width: 40%;
  margin-left: 30%;
}
