body {
   background-image:url("http://40.media.tumblr.com/c5f68ecc4da9b696af4a73e0de9032fe/tumblr_ns7ygpUERt1rvs5f1o4_500.jpg");
}
h1, p, div {
  margin-left: auto;
  margin-right: auto;
}
h1 {
  color: white;
  font-family: helvetica;
  font-size: 40px;
  text-align: left;
  width: 600px;
}
p {
  color:white;
  font-family: helvetica;
  font-size: 30px;
  width: 600px
}
