body {
    font-size: 30px;
    background-image:url("http://www.solidbackgrounds.com/images/1024x768/1024x768-light-gray-solid-color-background.jpg")
 }

a {
    color: hotpink;
    font-family: 'Poiret One',   cursive;
}


h1 {
    font-family: 'Poiret One', inherit;
    text-align: center;
    color:hotpink
}

h2 {
     font-family: 'Poiret One', cursive;
    text-align: center;
    font-size:30px;
}

p {
     font-family: 'Poiret One', cursive;
    font-size: 30px;
    color: darkgray;
    text-align: center;
    width: 900;  
}
.kc {
     font-family: 'Poiret One', cursive;
   color: hotpink
   
}

.albi {
    font-family: 'Poiret One', cursive;
    font-size: 30px;
}


.bird {
     font-family: 'Poiret One';
    color: black;
    font-size: 30px;
    text-align: center;
}
.loud {
     font-family: 'Poiret One', cursive;
    color: hotpink;
    font-size: 60px;
    
}

.excerpt  {
     font-family: 'Poiret One', cursive;
    font-size:30px;
    font-weight: bold;
    color: deeppink;
    width: 1400px;
    text-align: center;
}

/* mobile override styles go inside this section */
@media (max-width: 768px) {
    
}

div {
    border: 2px gray;
    border-bottom-style:dotted;
    border-top-style: dotted;
    border-left-style: dotted;
    border-right-style: dotted;
    width: 1200px;
   
    
}