body {
  background-color: #FAAC58;
}
h1, p, div {
  margin-left: inherit;;
  margin-right: ;
}
h1{
color: blue;
font-family: monospace;;;
font-size: 100px;
text-align: right;
width: 500px;
}
p {
  font-size: 45px;
  width: 700px;
  font-family: inherit;
  text-align:left;
}
