body {
  background-color: #241B00;
}

h1 {
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  padding: 20px;
  font-size: 70px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;

}
p {
  font-family: 'josefin slab', sans-serif;
  font size: 20px;
  font size: 20px;
  width: 500px;
  padding: 10px;
  color: white;
}
h1, p{
  margin-left: auto;
  margin-right: auto;
}

  }
.blue {
    background-color: blue;
  }
