.doggy{
    
    font-size: 100px
    margin-right: auto;
    margin-left: auto;
    font-family: serif;align-content: center;
}

.cat{
    
    font-size: 22px;
    margin: 10px 5px 15px 20px
}

p{
    margin: 20px 50px 15px 20px;
}

