@font-face {
font-family:Didot; src: url(http://static.tumblr.com/mg35j71/bXyo1u25c/didot-italic.ttf) format(“truetype”); 
}

html, body {margin: 0; padding: 0;}

.title{ 
    font-family: Didot;
    padding: 20px;
    font-size: 54px;
    font-style: italic;
    text-transform: uppercase;
    background-color: black;
    height: 180px;
    color: white;
}
.text{
    width: 650px;
    height: auto;
    font-family: Palatino Linotype;
    font-size: 18px;
    line-height: 28px;
    padding: 30px;
}
.presentation{
    width: auto;
    height:500px;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.presentation a {
    display: inline-block;
    vertical-align: middle;
}

.presentation img {
    border: 0;
}
