div {
    font-size: 20px;   
}

.blue-border{
    border: 2px solid blue;
}
.dash-border{
    border: 2px dashed blue;
}

.full-width{
    width: 100%;
    border: 2px solid yellow;
}
.medium-width{
    width: 40%;
    border: 2px solid yellow;
}
.small-width{
    width: 15%;
    border: 2px solid yellow;
    
}
.task4{
    display: inline;
    border: 2px solid pink;
}
.task4-2{
    display: block;
    border: 2px solid pink;
}
.task5{
    width: 40%;
    display: inline-block;
    border: 2px solid pink;
}
.task6-1{
    text-align: center;
    border: 2px solid black;
}
.task7{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    height: 50px;
    border: 2px solid black;
}
.task8-1{
   border: 2px solid aquamarine; 

}
.task8-2{
   border: 2px solid aquamarine;
   background-color: aquamarine;
   float: left;
}
.task9-1{
     border: 2px solid aquamarine;
}
.task9-2{
     border: 2px solid aquamarine;
     background-color: aquamarine;
     float: right;
     width: 30%
}