/* ----- Z-INDEX-KEY ---------------- */
                                         /*
(-01) .mini-promo
(-01) .source
(-01) .media-panel-overlay
(-01) .fnote
(-01) .olnote
(-01) header h1 - anim 0%
(000) DEFAULT STATE
(001) p,h1
(019) header h1 - anim 100%
(010) .media.back:hover
(010) .media.float
(010) .fnote.appear, .fnote:hover
(010) .olnote.appear, .olnote:hover
(015) .expand-icon
(040) nav
(041) .sections-nav.appear
(041) .sections-nav-arrow.appear
(041) .mini-promo.appear
(050) .media-panel-overlay.appear 
(051) .media-panel-overlay .media-nav
(052) .prev-panel, .next-panel
(999) .grid-guide */
/* ----- FONTS ----- */
@font-face {
  font-family: WarnockPro-Regular;
  src: url(../fonts/warnock-pro/WarnockPro-Regular.otf); }
@font-face {
  font-family: WarnockPro-Light;
  src: url(../fonts/warnock-pro/WarnockPro-Light.otf); }
@font-face {
  font-family: WarnockPro-Italic;
  src: url(../fonts/warnock-pro/WarnockPro-It.otf); }
/* ------ HCS Webfont ------*/
@font-face {
  font-family: 'hcs-helping';
  src: url("../fonts/hcs-helping.eot?4opgxb");
  src: url("../fonts/hcs-helping.eot?4opgxb#iefix") format("embedded-opentype"), url("../fonts/hcs-helping.ttf?4opgxb") format("truetype"), url("../fonts/hcs-helping.woff?4opgxb") format("woff"), url("../fonts/hcs-helping.svg?4opgxb#hcs-helping") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="hcs-helping-"], [class*=" hcs-helping-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hcs-helping' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.hcs-helping-helping-e:before {
  content: "\45"; }

.hcs-helping-helping-g:before {
  content: "\47"; }

.hcs-helping-helping-h:before {
  content: "\48"; }

.hcs-helping-helping-i:before {
  content: "\4c"; }

.hcs-helping-helping-l:before {
  content: "\49"; }

.hcs-helping-helping-n:before {
  content: "\4e"; }

.hcs-helping-helping-p:before {
  content: "\50"; }

@font-face {
  font-family: 'hcs-children';
  src: url("../fonts/hcs-children.eot?e32meh");
  src: url("../fonts/hcs-children.eot?e32meh#iefix") format("embedded-opentype"), url("../fonts/hcs-children.ttf?e32meh") format("truetype"), url("../fonts/hcs-children.woff?e32meh") format("woff"), url("../fonts/hcs-children.svg?e32meh#hcs-children") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="hcs-children-"], [class*=" hcs-children-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hcs-children' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.hcs-children-children-c:before {
  content: "\43"; }

.hcs-children-children-d:before {
  content: "\44"; }

.hcs-children-children-e:before {
  content: "\52"; }

.hcs-children-children-h:before {
  content: "\48"; }

.hcs-children-children-i:before {
  content: "\49"; }

.hcs-children-children-l:before {
  content: "\4c"; }

.hcs-children-children-n:before {
  content: "\4e"; }

.hcs-children-children-r:before {
  content: "\72"; }

@font-face {
  font-family: 'hcs-succeed';
  src: url("../fonts/hcs-succeed.eot?e9fneo");
  src: url("../fonts/hcs-succeed.eot?e9fneo#iefix") format("embedded-opentype"), url("../fonts/hcs-succeed.ttf?e9fneo") format("truetype"), url("../fonts/hcs-succeed.woff?e9fneo") format("woff"), url("../fonts/hcs-succeed.svg?e9fneo#hcs-succeed") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="hcs-succeed-"], [class*=" hcs-succeed-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hcs-succeed' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.hcs-succeed-succeed-c1:before {
  content: "\43"; }

.hcs-succeed-succeed-c2:before {
  content: "\63"; }

.hcs-succeed-succeed-d:before {
  content: "\44"; }

.hcs-succeed-succeed-e1:before {
  content: "\45"; }

.hcs-succeed-succeed-e2:before {
  content: "\65"; }

.hcs-succeed-succeed-s:before {
  content: "\53"; }

.hcs-succeed-succeed-u:before {
  content: "\55"; }

@font-face {
  font-family: 'hcs-paul';
  src: url("../fonts/hcs-paul.eot?f5kol1");
  src: url("../fonts/hcs-paul.eot?f5kol1#iefix") format("embedded-opentype"), url("../fonts/hcs-paul.ttf?f5kol1") format("truetype"), url("../fonts/hcs-paul.woff?f5kol1") format("woff"), url("../fonts/hcs-paul.svg?f5kol1#hcs-paul") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="hcs-paul-"], [class*=" hcs-paul-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hcs-paul' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.hcs-paul-paul-a:before {
  content: "\41"; }

.hcs-paul-paul-l:before {
  content: "\4c"; }

.hcs-paul-paul-p:before {
  content: "\50"; }

.hcs-paul-paul-u:before {
  content: "\55"; }

@font-face {
  font-family: 'hcs-tough';
  src: url("../fonts/hcs-tough.eot?koto0t");
  src: url("../fonts/hcs-tough.eot?koto0t#iefix") format("embedded-opentype"), url("../fonts/hcs-tough.ttf?koto0t") format("truetype"), url("../fonts/hcs-tough.woff?koto0t") format("woff"), url("../fonts/hcs-tough.svg?koto0t#hcs-tough") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="hcs-tough-"], [class*=" hcs-tough-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hcs-tough' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.hcs-tough-tough-g:before {
  content: "\47"; }

.hcs-tough-tough-h:before {
  content: "\48"; }

.hcs-tough-tough-o:before {
  content: "\4f"; }

.hcs-tough-tough-t:before {
  content: "\54"; }

.hcs-tough-tough-u:before {
  content: "\55"; }

/* ----- SASS VARIABLES ------------- */
/* ----- SASS MIXINS ---------------- */
/* ----- PASSWORD ----- */
.password-protect {
  visibility: hidden; }

center {
  position: fixed;
  margin-top: 20%;
  width: 100%; }

form {
  margin-left: auto;
  margin-right: auto; }

.password-button {
  background: #bc1110;
  color: white;
  padding: 1rem;
  border: 0;
  font-size: 2em; }

.password-protect.appear {
  visibility: inherit; }

form.hide {
  display: none; }

html {
  box-sizing: border-box;
  font-size: 20px; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: "WarnockPro-Regular", serif;
  background: #ffffff; }

.grid-guide {
  position: fixed;
  top: 0;
  z-index: 999;
  clear: both;
  height: 100vh;
  width: 100%;
  opacity: .5;
  display: none; }
  .grid-guide .col {
    float: left;
    width: 6.866%;
    margin-right: 1.6%;
    background: pink;
    height: 100vh; }
  .grid-guide .col:last-of-type {
    margin-right: 0; }

p {
  font-size: 1.1em;
  line-height: 1.3;
  max-width: 760px; }

h1, p {
  width: 49.2%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.6%;
  padding-right: 1.6%;
  position: relative;
  z-index: 1; }

a {
  color: #48b044;
  text-decoration: none; }

a:visited {
  color: #48b044;
  text-decoration: none; }

a:hover {
  color: #48b044;
  text-decoration: none; }

a:active {
  color: #48b044;
  text-decoration: none; }

/* ----- SPECIFIC ------------------- */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #efefef;
  padding: 0;
  z-index: 50;
  transform: translate(0, -50px);
  transition: .3s ease;
  transition-delay: .3s; }
  nav.appear {
    transform: translate(0, 0);
    transition: .3s ease; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.6em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px; }
  nav li {
    padding: .5rem 1rem .3rem;
    margin: 0;
    display: inline-block; }
    nav li.logo {
      float: left;
      width: 400px;
      margin-left: 0; }
      nav li.logo .name {
        font-weight: 700;
        margin-right: 4px; }
    nav li.sections-toggle, nav li.share {
      color: #bababa;
      float: right; }
      nav li.sections-toggle:hover, nav li.share:hover {
        text-decoration: underline;
        color: #444444; }
    nav li.share-icon {
      float: right;
      height: 30px;
      padding: .5rem 1rem 0 0; }
      nav li.share-icon svg {
        width: 20px;
        height: 20px; }
        nav li.share-icon svg path {
          fill: #bababa; }
      nav li.share-icon:hover path {
        fill: #444444; }
    nav li:hover {
      cursor: pointer; }
  nav .sections-nav {
    position: fixed;
    width: 280px;
    transform: translate(0, -100vh);
    top: 50px;
    height: 90vh;
    border-radius: 5px;
    right: 1.6%;
    padding: 1rem;
    background: rgba(68, 68, 68, 0.9);
    overflow-y: scroll;
    opacity: 0;
    z-index: -1;
    transition: .1s;
    transition-delay: .3s; }
    nav .sections-nav .section-item {
      padding: .4rem 1rem;
      font-size: .8em;
      line-height: 1.3; }
      nav .sections-nav .section-item a {
        color: #ffffff;
        white-space: normal; }
      nav .sections-nav .section-item .section-h1 {
        padding: .2rem 0;
        font-size: 0.8em;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: block; }
      nav .sections-nav .section-item:hover {
        background: #444444;
        cursor: pointer; }
    nav .sections-nav.appear {
      transform: translate(0, 0);
      opacity: 1;
      z-index: 41; }

.mini-promo {
  position: fixed;
  height: 100vh;
  width: 400px;
  top: 0;
  left: 0;
  background: #fcfaf1;
  border-right: 1px solid #efefef;
  overflow-y: scroll;
  z-index: -1;
  transition: .3s ease;
  transform: translate(-400px, 0); }
  .mini-promo.appear {
    transform: translate(0, 0);
    opacity: 1;
    z-index: 41; }
  .mini-promo .promo-item {
    padding: .5rem 1.2rem;
    font-size: 0.6em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.3;
    border-bottom: 1px solid #efefef; }
    .mini-promo .promo-item.banner {
      padding: 1rem 1.2rem 0;
      font-size: .85em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: none; }
      .mini-promo .promo-item.banner .title {
        width: 140px; }
        .mini-promo .promo-item.banner .title .logo {
          font-weight: 700;
          margin-bottom: .2rem;
          display: block; }
      .mini-promo .promo-item.banner .book {
        width: 70px;
        display: inline-block; }
        .mini-promo .promo-item.banner .book img {
          width: 100%; }
    .mini-promo .promo-item a {
      padding: .5rem;
      margin: .3rem 0;
      display: block;
      border: 1px solid #bc1110;
      color: #bc1110;
      border-radius: 5px; }
    .mini-promo .promo-item .desc {
      color: #bababa;
      display: block;
      margin-top: .2rem; }
    .mini-promo .promo-item ul.stores {
      list-style: none;
      margin: 0;
      padding: 0; }
      .mini-promo .promo-item ul.stores li {
        padding: .5rem 0;
        margin: .3rem 0;
        border: 1px solid #bababa;
        border-radius: 5px;
        display: block;
        font-size: 1em;
        color: #ffaf0a; }

article {
  transform: translate(0, 0);
  transition: .3s ease; }
  article.slide {
    transform: translate(400px, 0); }
  article .chap {
    border-top: 1px solid transparent;
    padding-top: 8rem;
    padding-bottom: 5rem;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,f7f7f7+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(247, 247, 247, 0) 0%, #f7f7f7 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(247, 247, 247, 0) 0%, #f7f7f7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(247, 247, 247, 0) 0%, #f7f7f7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f7f7f7', endColorstr='#f7f7f7',GradientType=0 );
    /* IE6-9 */ }
    article .chap #s-solutions {
      background: #ffffff; }
    article .chap h1 {
      width: 100%;
      text-align: center;
      margin: 0 0 4rem;
      font-size: 1.4em;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      letter-spacing: 4px;
      color: #4395a9; }
  article #s-solutions {
    background: #ffffff; }
  article .section-icon {
    display: block;
    height: 60px;
    width: 60px;
    margin: 1rem auto; }
    article .section-icon .body {
      fill: none;
      stroke: #010101;
      stroke-miterlimit: 10;
      stroke-width: 8px; }
    article .section-icon .feet {
      fill: #010101; }
    article .section-icon .head {
      fill: none;
      stroke: #010101;
      stroke-linejoin: round;
      stroke-width: 8px; }
    article .section-icon .shorts {
      fill: none;
      stroke: #010101;
      stroke-miterlimit: 10;
      stroke-width: 8px; }
    article .section-icon .hair {
      fill: #010101; }
    article .section-icon .body, article .section-icon .feet, article .section-icon .head, article .section-icon .shorts, article .section-icon .hair {
      transition: .5s ease;
      transition-delay: 2s; }
    article .section-icon.anim .body {
      stroke: #ffaf0a; }
    article .section-icon.anim .feet {
      fill: #ffaf0a; }
    article .section-icon.anim .head {
      stroke: #ffaf0a; }
    article .section-icon.anim .shorts {
      stroke: #ffaf0a; }
    article .section-icon.anim .hair {
      fill: #ffaf0a; }
  article .drop-cap {
    float: left;
    line-height: .95;
    height: 110px;
    font-size: 6.4em;
    margin-right: .2rem;
    text-transform: uppercase;
    font-family: WarnockPro-Light; }

header {
  background: #fcfaf1;
  height: 100vh; }
  header nav {
    position: absolute;
    background: transparent;
    border-bottom: 0;
    padding: 0;
    z-index: 50;
    transform: translate(0, 0); }
  header .col {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-bottom: 1rem; }
    header .col h1, header .col h2, header .col p {
      text-align: center;
      width: 100%;
      margin: 0 auto; }
    header .col h2 {
      font-weight: normal;
      margin-top: 1rem;
      font-size: 2em;
      color: rgba(68, 68, 68, 0.9); }
      header .col h2.byline {
        font-size: 1.1em;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 1rem; }
    header .col p {
      width: 49.2%;
      margin-top: 0;
      font-size: 1.2em;
      color: rgba(68, 68, 68, 0.9); }
@keyframes title-fade-in {
  0% {
    opacity: 0;
    z-index: -1; }
  50% {
    opacity: 0;
    z-index: -1; }
  100% {
    opacity: 1;
    z-index: 10; } }
    header .col h1 {
      font-size: 4em;
      margin: 0;
      color: #444444;
      animation-name: title-fade-in;
      animation-delay: .5s;
      animation-duration: 4s; }
      header .col h1 .header-word {
        display: block;
        line-height: 1.2; }
      header .col h1 .helping-h {
        background: url(../assets/helping-h.png) no-repeat; }
      header .col h1 .helping-e {
        background: url(../assets/helping-e.png) no-repeat; }
      header .col h1 .helping-l {
        background: url(../assets/helping-l.png) no-repeat; }
      header .col h1 .helping-p {
        background: url(../assets/helping-p.png) no-repeat; }
      header .col h1 .helping-i {
        background: url(../assets/helping-i.png) no-repeat; }
      header .col h1 .helping-n {
        background: url(../assets/helping-n.png) no-repeat; }
      header .col h1 .helping-g {
        background: url(../assets/helping-g.png) no-repeat; }
      header .col h1 .children-c {
        background: url(../assets/children-c.png) no-repeat; }
      header .col h1 .children-h {
        background: url(../assets/children-h.png) no-repeat; }
      header .col h1 .children-i {
        background: url(../assets/children-i.png) no-repeat; }
      header .col h1 .children-l {
        background: url(../assets/children-l.png) no-repeat; }
      header .col h1 .children-d {
        background: url(../assets/children-d.png) no-repeat; }
      header .col h1 .children-r {
        background: url(../assets/children-r.png) no-repeat; }
      header .col h1 .children-e {
        background: url(../assets/children-e.png) no-repeat; }
      header .col h1 .children-n {
        background: url(../assets/children-n.png) no-repeat; }
      header .col h1 .succeed-s {
        background: url(../assets/succeed-s.png) no-repeat; }
      header .col h1 .succeed-u {
        background: url(../assets/succeed-u.png) no-repeat; }
      header .col h1 .succeed-c1 {
        background: url(../assets/succeed-c1.png) no-repeat; }
      header .col h1 .succeed-c2 {
        background: url(../assets/succeed-c2.png) no-repeat; }
      header .col h1 .succeed-e1 {
        background: url(../assets/succeed-e1.png) no-repeat; }
      header .col h1 .succeed-e2 {
        background: url(../assets/succeed-e2.png) no-repeat; }
      header .col h1 .succeed-d {
        background: url(../assets/succeed-d.png) no-repeat; }
      header .col h1 .paul-p {
        background: url(../assets/paul-p.png) no-repeat; }
      header .col h1 .paul-a {
        background: url(../assets/paul-a.png) no-repeat; }
      header .col h1 .paul-u {
        background: url(../assets/paul-u.png) no-repeat; }
      header .col h1 .paul-l {
        background: url(../assets/paul-l.png) no-repeat; }
      header .col h1 .tough-t {
        background: url(../assets/tough-t.png) no-repeat; }
      header .col h1 .tough-o {
        background: url(../assets/tough-o.png) no-repeat; }
      header .col h1 .tough-u {
        background: url(../assets/tough-u.png) no-repeat; }
      header .col h1 .tough-g {
        background: url(../assets/tough-g.png) no-repeat; }
      header .col h1 .tough-h {
        background: url(../assets/tough-h.png) no-repeat; }
      header .col h1 .header-word > span {
        margin: 0 -13px;
        background-size: 100%; }
  header .start {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.6em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -2rem; }
    header .start svg {
      width: 40px; }
      header .start svg polyline {
        fill: none;
        stroke: #bababa;
        stroke-miterlimit: 10;
        stroke-width: 14px; }

.media {
  overflow: hidden;
  line-height: 0; }
  .media:hover {
    cursor: pointer; }
  .media.flow {
    position: relative; }
    .media.flow.center {
      margin-left: auto;
      margin-right: auto; }
  .media.back {
    position: absolute;
    margin-top: 1.6%;
    opacity: .4;
    transition: .3s ease; }
  .media:hover.back, .media.hover.back {
    z-index: 10;
    opacity: 1; }
  .media.back.left {
    left: 1.6%;
    margin-left: 0;
    margin-right: 0;
    border-right: 3px solid #475065;
    padding-right: 1.6%; }
    .media.back.left:hover, .media.back.left.hover {
      transform: translate(1.6%, 0); }
  .media.back.right {
    right: 1.6%;
    margin-left: 0;
    margin-right: 0;
    border-left: 3px solid #475065;
    padding-left: 1.6%; }
    .media.back.right:hover, .media.back.right.hover {
      transform: translate(-1.6%, 0); }
  .media.xsm {
    width: 15.33%; }
  .media.sm {
    width: 23.8%; }
  .media.med {
    width: 49.2%; }
  .media.full {
    width: 100%;
    height: 100vh; }
  .media.chart {
    width: 49.2%;
    margin: 2rem 0;
    padding: 1.5rem 0;
    text-align: center;
    border-top: 3px solid #475065;
    border-bottom: 3px solid #475065; }
    .media.chart.xl {
      width: 83.06%; }
  .media#em-prob-adults-b.chart {
    border-top: 0;
    padding-top: 0; }
  .media img {
    width: 100%;
    padding-top: .3rem; }
  .media .media-bar {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    transition: .3s ease;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end; }
  .media:hover .media-bar, .media.hover .media-bar {
    background: transparent; }
  .media .expand-icon {
    color: #ffffff;
    background: #475065;
    padding: .2rem 1rem .2rem .5rem;
    margin: 0 1.5rem;
    height: 40px;
    border-radius: 5px;
    opacity: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: .3s ease; }
    .media .expand-icon svg {
      height: 36px; }
      .media .expand-icon svg .expand-svg {
        fill: none;
        stroke: #ffffff;
        stroke-width: 14px;
        stroke-miterlimit: 10; }
    .media .expand-icon .cta {
      padding-top: 2px;
      font-size: 0.5em;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px; }
  .media.chart .expand-icon {
    align-self: flex-end;
    margin-bottom: 2rem; }
  .media:hover .expand-icon {
    opacity: 1;
    z-index: 15;
    width: auto; }
  .media.chart:hover .expand-icon {
    opacity: .1; }
    .media.chart:hover .expand-icon:hover {
      opacity: 1; }

.media-caption {
  font-family: "Poppins", sans-serif;
  font-size: .7em;
  color: #444444;
  margin: 0 auto;
  padding: .5rem 0; }
  .media-caption.xsm {
    width: 15.33%;
    padding-left: 0; }
  .media-caption.sm {
    width: 23.8%;
    padding-left: 0; }
  .media-caption.med {
    width: 49.2%;
    padding-left: 0; }
  .media-caption.full {
    width: 100%;
    padding-left: 1rem; }
  .media-caption.chart {
    font-size: 1.05em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    line-height: 1.4;
    padding: 0;
    color: #444444;
    text-align: center; }

.back .media-caption {
  width: 100%; }

.media-panel-overlay {
  background: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  opacity: 0;
  transition: .5s ease; }
  .media-panel-overlay.tranzero {
    transition: 0s; }
  .media-panel-overlay.appear {
    z-index: 50;
    opacity: 1; }

.media-panel {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 100vh; }

.media-nav {
  position: relative;
  top: 0;
  z-index: 51;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: .6em;
  padding: 0 20px;
  background: #475065;
  color: #ffffff; }
  .media-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    height: 36px; }
  .media-nav li {
    display: inline-block; }
    .media-nav li.panel-header {
      float: left;
      font-size: 1em;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      height: 36px;
      padding-top: 9px; }
      .media-nav li.panel-header .h-blue {
        color: #4395a9;
        display: none; }

.panel-nav {
  height: 36px; }
  .panel-nav:hover {
    cursor: pointer; }
    .panel-nav:hover .panel-nav-svg {
      stroke: #4395a9; }
  .panel-nav svg {
    height: 36px; }
    .panel-nav svg .panel-nav-svg {
      fill: none;
      stroke: #ffffff;
      stroke-width: 14px;
      stroke-miterlimit: 10; }
  .panel-nav.media-icon {
    padding: 0 .5rem; }
    .panel-nav.media-icon svg {
      height: 36px; }
    .panel-nav.media-icon.active {
      background: #4395a9; }
      .panel-nav.media-icon.active .panel-nav-svg {
        stroke: #ffffff; }

.prev-panel, .next-panel {
  position: absolute;
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 50; }
  .prev-panel svg, .next-panel svg {
    background: #475065; }

.prev-panel {
  left: 0; }

.next-panel {
  right: 0; }

.media-content {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
  height: 100%;
  position: relative; }

.media-panel-overlay.chart .media-content {
  align-content: flex-start;
  padding-top: 4%; }

.media-title {
  padding: 0 0 .5rem;
  font-size: 0.9em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.3;
  margin: 0;
  text-align: center;
  width: 49.2%; }

.video .media-title, .image .media-title {
  display: none; }

.media-asset {
  text-align: center;
  text-align: center;
  overflow: hidden;
  width: 100%;
  position: relative; }
  .media-asset.scape-img {
    width: 100%; }
    .media-asset.scape-img img {
      width: 100%; }
  .media-asset.chart {
    width: 100%; }
    .media-asset.chart img {
      width: 49.2%; }
  .media-asset.scape-vid {
    width: 100%; }
    .media-asset.scape-vid iframe {
      height: 100vh;
      width: 100%; }
  .media-asset .media-text {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0; }
    .media-asset .media-text .media-desc {
      font-family: "Poppins", sans-serif;
      font-size: .7em;
      line-height: 1.3;
      text-align: left;
      background: #ffffff;
      padding: .5rem 1rem 1.5rem;
      color: #444444; }
    .media-asset .media-text .media-src {
      width: 100%;
      font-family: "Poppins", sans-serif;
      font-size: .55em;
      line-height: 1.5;
      text-align: left;
      background: #efefef;
      padding: .5rem 1rem;
      color: #bababa; }
      .media-asset .media-text .media-src:before {
        font-size: 0.8em;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        content: "Source:"; }
  .media-asset.chart .media-desc {
    display: none; }
  .media-asset.scape-vid .media-src, .media-asset.scape-img .media-src {
    display: none; }

sup {
  height: 6px;
  width: 6px;
  margin-left: 1px;
  background: #475065;
  border-radius: 3px;
  display: inline-block;
  transition: .2s ease;
  transform: translate(0, -2px);
  transform-origin: 0 10px; }
  sup:hover {
    cursor: pointer;
    transform: scale(1.4, 1.4); }

.fnote {
  font-family: "Poppins", sans-serif;
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #475065;
  opacity: 0;
  transform: translate(0, 8.466%);
  transition: .5s ease-out;
  transition-delay: .2s; }
  .fnote.appear, .fnote:hover {
    z-index: 10;
    opacity: 1;
    transform: translate(0, 0); }
  .fnote span {
    margin: 1.2rem;
    display: block;
    font-size: .7em;
    color: #ffffff; }
    .fnote span sup {
      color: #ffffff; }
    .fnote span:before {
      font-size: 0.8em;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      content: "Source:"; }

#back-matter {
  background: #fcfaf1; }
  #back-matter .bm-promo {
    text-align: center; }
    #back-matter .bm-promo .promo-item {
      width: 32.26%;
      margin: 0 auto;
      padding: .5rem 1.2rem;
      font-size: 0.6em;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 1.3;
      border-bottom: 1px solid #efefef; }
      #back-matter .bm-promo .promo-item.banner {
        padding: 1rem 1.2rem 0;
        font-size: .85em;
        border-bottom: none; }
        #back-matter .bm-promo .promo-item.banner .title {
          color: #444444;
          margin: 4rem 0 1rem; }
          #back-matter .bm-promo .promo-item.banner .title .logo {
            font-weight: 700;
            margin-bottom: .2rem;
            display: block; }
        #back-matter .bm-promo .promo-item.banner .book {
          width: 32.26%;
          display: inline-block; }
          #back-matter .bm-promo .promo-item.banner .book img {
            width: 100%; }
      #back-matter .bm-promo .promo-item a {
        padding: .5rem;
        margin: .3rem 0;
        display: block;
        border: 1px solid #bc1110;
        color: #bc1110;
        border-radius: 5px; }
      #back-matter .bm-promo .promo-item .desc {
        color: #bababa;
        display: block;
        margin-top: .2rem; }
      #back-matter .bm-promo .promo-item ul.stores {
        list-style: none;
        margin: 0;
        padding: 0; }
        #back-matter .bm-promo .promo-item ul.stores li {
          padding: .5rem 0;
          margin: .3rem 0;
          border: 1px solid #bababa;
          border-radius: 5px;
          display: block;
          font-size: 1em;
          color: #ffaf0a; }
  #back-matter #s-acknowledgments {
    border-top: 1px solid transparent;
    padding-top: 4rem;
    padding-bottom: 5rem;
    color: rgba(68, 68, 68, 0.9); }
    #back-matter #s-acknowledgments h1 {
      width: 100%;
      text-align: center;
      margin: 0 0 2rem;
      font-size: 0.9em;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      letter-spacing: 4px; }
    #back-matter #s-acknowledgments p {
      font-size: .7em;
      line-height: 1.5;
      font-family: "Poppins", sans-serif; }

footer {
  background: #475065;
  color: #ffffff;
  padding: 2rem 2rem 4rem; }
  footer .col {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start; }
    footer .col .item {
      width: 32.26%;
      margin: 0 1.6%; }
      footer .col .item:first-of-type {
        width: 49.2%;
        margin-right: 6rem; }
      footer .col .item h2 {
        margin: 0;
        font-size: 0.7em;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #bababa; }
      footer .col .item p {
        width: 100%; }
        footer .col .item p .profile {
          height: 96px;
          width: 96px;
          border-radius: 2px;
          margin: 0 12px 0 0;
          float: left; }
      footer .col .item ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        footer .col .item ul li {
          margin: 0;
          padding: 4px 0 0; }
          footer .col .item ul li a {
            color: #ffffff; }
            footer .col .item ul li a:visited {
              color: #ffffff; }
            footer .col .item ul li a:hover {
              color: #ffffff; }
            footer .col .item ul li a:active {
              color: #ffffff; }
      footer .col .item .cr {
        padding-top: .8rem;
        font-size: 0.6em;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #bababa; }

/* ----- RESPONSIVE VIDEO EMBED --------------------- */
.youtube-container {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%; }

.youtube-player {
  display: block;
  width: 100%;
  /* assuming that the video has a 16:9 ratio */
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: hand;
  cursor: pointer;
  display: block; }

img.youtube-thumb {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  height: auto; }

div.play-button {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("../assets/play-button-layer.png") no-repeat;
  background-size: 100%; }

#youtube-iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

/* ----- MOBILE --------------------- */
@media only screen and (max-width: 480px) {
  h1, p {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 6.866%;
    padding-right: 6.866%; }

  nav .sections-nav {
    width: 100%;
    top: 0;
    border-radius: 0;
    height: 60vh;
    right: 0;
    padding-bottom: 2rem; }

  header .col p {
    width: 100%; }
  header .col h1 {
    font-size: 2em;
    margin: 1rem 0; }
    header .col h1 .header-word > span {
      margin: 0 -8px; }
  header .col h2 {
    font-size: 1.5em; }

  .media.reg {
    width: 100%; }
  .media.med {
    width: 100%; }
  .media.lrg {
    width: 100%; }

  .media-asset.scape-img, .media-asset.scape-vid {
    width: 100%;
    padding-left: 6.866%;
    padding-right: 6.866%; }
  .media-asset.scape-vid iframe {
    height: 240px; } }

/*# sourceMappingURL=styles.css.map */
