body {
    font-size: 18px;
    background-color: white;
   
}


a {
    color: blue;
}

.subhead { 
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: 'Raleway', sans-serif;

}

.zen { 
    font-size: 70px;
font-weight: bolder;
    color: black; 
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.author {
    font-size: 38px;
font-weight: normal;
color: bisque;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
;    
} 
.vonnegut { 
    font-size: 25px;
    font-weight: normal;
    color: dimgray;
    text-align: justify;
    text-align: center;
        font-family: 'Raleway', sans-serif;
}
.rilke {
    font-size: 18px;
        font-weight: bolder;
        color: dimgray;
            text-align: inherit;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  float: right;
    width: 300px;
    padding: 10px;
}

.fail { 
font-size: 30px;
    font-weight: normal;
    color: bisque;
}
.try {
    font-size: 35px;
    font-weight: normal;
    color: burlywood;
    font-family: 'Quicksand', sans-serif;

}

.excerpt {
    font-size: 70px;
    font-weight: bold;
    color: gray;
    text-align: center;
    font-family: sans-serif;
}
.end {
    font-size: 18px;
    font-weight: bold;
    color: black; 
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    
}

/* mobile override styles go inside this section */
@media (max-width: 768px) {
    
    .excerpt {
        font-size: 40px;
    }
    
}