/* General Styling */
body {
 background-color: white;
}

.p{
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  text-align: center;
  font-style: bold
}

.1{
  width: 1050px;
  length: 50px;
}



/* -----MOBILE----- */
@media (max-width:768px) {
/* mobile specific styles go here */
}
