body {
  background-color: palevioletred;
  font-family: 'Times New Roman';     
}

.page-header {
    font-size: 3em;
}

.parent {
    background: yellow;
}

.parent2 {
    background: orange;

}
p {
    color: green;
    border: 1px solid pink;
}
.make-block {
    display: block;
}
.make-inline {
    display: inline;
}

element.style {
}
.dog1 {
    float: center;
    width: 40%;
    height: 30%;
    border: 1px solid pink;
    display: inline-block;
    margin: 20px;
}
user agent stylesheet
div {
    display: block;
}
element.style {
}
.dog {
    float: center;
    width: 40%;
    height: 30%;
    border: 1px solid pink;
    display: inline-block;
    margin: 20px;
}
user agent stylesheet
div {
    display: block;
}

element.style {
}
.elephant {
    text-align: center;
    border: 1px solid green;
}
user agent stylesheet
div {
    display: block;
}
.pigeon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    height: 10%;
    border: 1px solid grey;
    margin-bottom: 10px;
}

.pigeon1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 50%;
    height: 10%;
    border: 1px solid grey;
}
.meow {
    border: 1px solid yellow;
    display: inline;
}
.flamingo {
    float: left;
    color: blue;
}
.flamingo1 {
    float: right;
    color: blue;
}
.turkey {
    border: 1px solid orange;
    display: block;
}
.turkey1 {
    border: 1px solid orange;
    display: block;
    height: 100px;
    float: right;
}

strong, b {
    font-weight: bold;
}