body {
    font-size: 18px;
}

div{
    margin-bottom: 120px;
}


h1 {
    font-family: "big caslon";
    text-align: center;
    font-size: 170px;
    margin: 0;
}

h3 {
    font-family: "big caslon";
    text-align: center;
    font-size: 23px;
    margin-top: 0;
    padding-top: 0;
}

h4 {
    font-family: "big caslon";
    text-align: center;
    font-size: 19px;
}



.h1 {
    font-size: 70px;
    text-align: right;
    font-family: "PT mono";
    margin-right: 20px;
    margin-bottom: 20px;
    
}

.quote1 {
    font-size: 20px;
    text-align: left;
    font-family: monospace;
    margin-left: 20px;
    font-weight: bold;
}

.h2 {
    font-size: 200px;
    font-family: "bodoni 72 smallcaps";
    margin: 0;
}

.quote2 {
    font-size: 15px;
    font-family: "charter";
    font-weight: bold;
    margin-left: 300px;
    line-height: 1.4;
    margin-top: 0;
    margin-right: 40px;
}

.h3 {
    font-size: 60px;
    font-family: "economica";
    text-align: center;
    margin: 0;
    letter-spacing: 50px;
}

.quote3 {
    font-size: 17px;
    font-family: "marion";
    text-align: justify;
    /*margin-right: 250px;
    margin-left: 250px;*/
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
    margin-left: 10px;
}

/* mobile override styles go inside this section */
@media (max-width: 768px) {
    
    .excerpt {
        font-size: 40px;
    }
    
}