body{
    background-color: white;
    font-size: 1.125rem;
    font-family: Palatino Linotype;
    line-height: 150%;
}
a:link    {
    color: black;
}
a:hover {
    color: black;  
}
a:visited {
    color:Black; 
}
.tigerlily {
    display: inline-block;
    color: black;
    font-family: Didot;
    text-transform: uppercase;
    font-size: 330px;
    line-height: 100%;
    display:flex;
    align-items: center;
    flex-flow: row nowrap;
    height: 100vh;
    width: 50%;
}
.kangaroo{
    display: inline-block;
    padding: 20px;
    color: #3a3a3a;
    font-size: 1.125rem;
    font-family: Palatino Linotype;
    line-height: 165%;
    width:350px;
    position: absolute;
    right: 60px;
    top: 90px;
    background: rgba(255,255,255,.95);
    z-index: 999;
}
.koala{
    display: block;
    color: black;
    float:left;
    font-size: 1.865rem;
    font-family: Palatino Linotype;
    line-height: 150%;
    width: 300px;
    margin: 30px;
}
.overflow {
    overflow: scroll;
    height: 450px;
    display: inline-block;
}
.panda{
    margin-top: 15px;
    font-size: 1.125rem;
    line-height: 17px;
    font-family: Palatino Linotype; 
    width:600px;
    margin-right: auto;
    margin-left: auto;

}

/* Mobile Styles */
@media (max-width: 768px) {
     panda {
       width: 100%;
     }
     .koala {
       width: 100%;
     }
     .pull-quote {
       float: none;
       width: 100%;
     }
     .kangaroo {
       display: inline-block;
       width:100%;
     }
     .tigerlily {
       width: 100%;
       font-size: 220px;
     }
    .image{
         width:100%;
    }
}