body {
    align-content: center;
    padding: 30px;
    background: #f2c9bf;
}

h1 {
    color: black;
    font-family:cursive;
    line-height: 2px;
}

h2 {
     color: black;
    font-family:sans-serif;
    font-size: 15px;
}

h3 {
     color: black;
    font-family:sans-serif;
     font-size: 15px;
    line-height: 2px;
}

section {
    float: left;
    display: block;
    width: 30%;
    background: pink;
    font-family: 'David Libre', serif;
    margin: 17px;
    align-items: center;
    line-height: 30px;
}
.quote1 {
    font-size: 25px;
    padding: inherit;
    display: inline-block;
    vertical-align: top;
}
.credit1 {
      text-align: right;
     font-size: 25px;
    font-style: italic;
    padding: inherit;
    display: inline-block;
}

.quote2 {
    font-size: 25px;
    padding: inherit;
    display: inline-block;
    vertical-align: top;
    
}
.credit2 {
      text-align: left;
     font-size: 25px;
    font-style: italic;
    padding: inherit;
    display: inline-block;
    padding-bottom: 202px;
}

.quote3 {
    font-size: 25px;
    padding: inherit;
    display: inline-block;
    vertical-align: top;
}
.credit3 {
   text-align: right;
     font-size: 25px;
    font-style: italic;
    padding: inherit;
    display: inline-block;
    padding-bottom: 32px;
}
.a {
    font-family: cursive;
}
.b {
    font-family:fantasy;
    font-weight: 300;
    font-size: 20px;
}

.f {
    font-family:inherit;
    border-style: dashed;
}
.c {
    font-family:monospace;
    background-blend-mode: color-burn;
}
.d {
    font-family:sans-serif;
}
.e {
    font-family:serif;
    background-blend-mode: overlay;
    background-color: aquamarine;
}

/* mobile override styles go inside this section */
@media (max-width: 768px) {
    

    }
    
}