
body {
width: 1000px;
margin: 0 auto; 
font-family:<link href="https://fonts.googleapis.com/css?family=Cinzel:900" rel="stylesheet">;
font-size: 50px;
background: skyblue;
}

h1 { 
text-align: center;
}


p {
font-family: "Times New Roman", Times, serif;
text-align: center;
font-weight: bold; 
font-size: 15px;
}

li {
font size: 6px;
text-align: center;
}