.title{
  font-size: 56px;
  font-family: special elite;
text-align: center;
color: Blue;
}

.sub{
  font-size: 30px;
  font-family: indie flower;
  font-style: oblique;
}

.secondsub{
  font-size: 30px;
  font-family:  special elite;
  font-style: oblique;
  text-align:center;
}

.opening{
  font-size: 30px;
  font-family: indie flower;
  text-align: center;
  text-decoration: underline;
}

.question{
  font-size: 40px;
  font-family: special elite;
  text-align: left;
  text-decoration: underline;
}

.answer {
font-size: 30px;
font-family: indie flower;
text-align: left;
display: list-item;
list-style:armenian;
}

.closing{
  font-size: 40px;
  font-family: special elite;
  color: blue;
  text-align: center;

}

.signature{
  font-size: 56px;
    font-family: special elite;
  text-align: center;

}

.frames
{
  font-size: 50px;
}

.wireframes {
    width:40%;
    border: 1px solid gray;
    margin-right: 10px;
}