body{
background-color: white;
}
h1{
  font-family:Didot;
  font-size: 100px;
  text-align: left;
  color:black;
  width:500px;
  line-height: 95px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-top: 150px;
}
p{
  font-size: 22px;
  line-height: 17px;
  font-family: Helvetica;
  width:auto;
  background-color: white;
  color:black;
}
.main{
  width:340px;
  font-family:Georgia;
  font-size: 15px;
  line-height: 25px;
  margin-left: 990px;
  margin-top: -300px;
  text-align: right;
}
