body {
  background-color: #688A08;
}
h1, p, div {
  margin-left: auto;
  margin-right: ;
}
h1{
color: white;
font-family: fantasy;
font-size: 50px;
text-align: left;
width: 500px;
}
p {
  font-size: 22px;
  width: 700px;
  font-family: inherit;
  text-align: justify;;
}
