body {
    background-color: lemonchiffon}

h1 {
    font-size: 40px;
    color: orange;
    font-family: monospace;
    text-align: center;
}

.k {
    font-size: 20px;
    text-align: center;
    font-family: monospace;
    color: hotpink;
}

a:link {
    color: pink;
}
a:visited {
    color: deeppink;
}
a:hover{
    color: hotpink;
    background-color: lightpink;
}
a:active {
    color: lightpink;
}

.l {
    color: rebeccapurple;
    font-family: monospace;
    font-size: 15px;
    font-weight: 600;
}

h2 {
    font-size: 25px;
    text-align: left;
    font-family: fantasy;
    color: dodgerblue;
}

.finish {
    margin: 0px 600px 50px 5px;
    color: dodgerblue;
    font-family: sans-serif;
    background:skyblue;
    width: 500px;
    padding-bottom: 40px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.siggy {
    font-family: cursive;
    color: dodgerblue;
}

div h2 {
    font size: 25px;
    text-align: center;
    font-family: fantasy;
    color: darkred;
}


.ome {
    font-size: 16px;
    margin: 10px 5px 15px 20px; 
    font-family: sans-serif;
    color: darkred;
    background:salmon;
    width: 500px;
    padding-bottom: 40px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.siggytwo {
    font-family: cursive;
    color: darkred;
    color:darkred
}

div div h2 {
    font size: 25px;
    text-align: right;
    font-family: fantasy;
    color: darkgreen;
}

.frog{
    font-size: 16px;
    margin: 0px 0px 50px 600px;
    color: darkgreen;
    font-family: sans-serif;
    background:yellowgreen;
    width: 500px;
    padding-bottom: 40px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.siggythree {
    font-family: cursive;
    color: darkgreen;
}