body{
    background-image: url(coverV1.jpg);
   background-repeat: no-repeat 50% 50% fixed;
    background-size: cover;
  background-size: cover;
  background-size: cover;
  background-size: cover;
}

.title{
    font-family: 'Sansita One', cursive;
    font-size: 100px;
    margin-left: auto;
    margin-left: auto;
    margin-top: 75px;
    text-align: center;
}

.color{
    color:#ffb300;
    text-shadow: black .1em .1em .2em;
}

.now{
  font-family: 'Enriqueta', serif;
    font-size: 80px;
    font-kerning: auto;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    margin-bottom: -90px;
    margin-top: 100px;
    border: solid white 3px;
    border-width: thick;
    width: 650px;
    background-image: url(e27ed5dbeef43ab18c736e217411c7ff.jpg);

}

.container{
    
    height: 60%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    align-items: center;
    margin-top: 50px;

}

.dog img{
    max-height: 900px;
    max-width: 850px;
    margin-top: 100px;
    margin-right: auto;
    margin-right: auto;
    align-items: center;
    border: solid white 10px;
    
}

.tomorrow{
     font-family: 'Enriqueta', serif;
    font-size: 80px;
    font-kerning: auto;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    margin-bottom: -90px;
    margin-top: 50px;
    border: solid white 3px;
    border-width: thick;
    width: 650px;
    background-image: url(e27ed5dbeef43ab18c736e217411c7ff.jpg);
    
}

