body {
    
    background-color: lightgray;
    font-size: 16px;
    color: cadetblue
}

p { 
    color: goldenrod;
    text-align: center;
}
a {
    color: cadetblue;
    font-weight: italic
}

.excerpt {
    font-size: 20px;
    font-weight: bold;
    color: rosybrown;
    text-align: center;
    font-family: sans-serif;
    
background-image: url("../aa/tumblr_mv4mvormJr1re3am6o1_1280.jpg");
    
}

/* mobile override styles go inside this section */
@media (max-width: 768px) {
    
    .excerpt {
        font-size: 40px;
    }
    
}