h1 {
font-family: 'Abril Fatface', cursive;
font-size: 70px;
    margin: 100px;
   text-align: center;
}

.container {
    width: 700px;
    margin: auto;
}

p{
    
    font-family: 'Source Sans Pro', sans-serif;
    
}
.ladies{
    font-family: 'Old Standard TT', serif;
    font-size: 30px;
    
}

h2 {
font-family: 'Abril Fatface', cursive;
font-size: 50px;
    margin: 100px;
   text-align: center;
}

.images {
    margin: auto;
    text-align: center;
}

h3{
    
    font-family: 'Abril Fatface', cursive;
font-size: 30px;
    margin: 100px;
   text-align: center;
    
}