body {
	background-color: #ff9999;
    
}
h1 {font-family: 'Codystar', cursive;color: #e6f7ff; text-align: right; font-size: 60px;
 }

h2 {font-family: 'Codystar', cursive; ;color:#e6f7ff; font-size:21px;
	text-align: right;
}
.travel {
	text-align: center;
	}
p {font-family: 'Chathura', sans-serif;color: #e6f7ff;text-align: center; font-size: 25px;
}
a {text-decoration: none; color:black; font-weight:bold;}