body {
    font-size: 18px;

}

.city {
    float: left;
    margin: 5px;
    padding: 30px;
    max-width: 600px;
    height: 175px;
    border: 1px solid white;
} 

p {
    color: black;
  
      
    
    h3 {
    text-align: left;
}
  
    
    
.excerpt {
    font-size: 60px;
    font-weight: bold;
    color: gray;
    text-align: center;
    font-family: sans-serif;
}

/* mobile override styles go inside this section */
@media (max-width: 768px) {
    
    .excerpt {
        font-size: 40px;
    }
    
}