
body {
  background-color: black
}

h1, p, div {
color: pink;
font-family: sans-serif;;;
font-size:36px;
text-align: center;
}
p{
  color: pink;
  font-family: sans-serif;;
  font-size:23px;
  width:500px
  margin-left:auto;
  margin-right:auto;
}
h1, p {
  margin-left: 100px;
p{
  color: pink;
  font-family: sans-serif;;
  font-size: 23px;
  width:500px
  margin-left:auto;
  margin-right:auto;
}
div {
  width:300px;
  height:200px;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  margin-left:auto;
  margin-right:auto;
}
.blue {
   background-color: blue;
}
