body{
    background-color: #f6efef;
}

a{
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    color: black;
    border: 2px solid black;
    padding: 4px;
}

p{
    width: 600px;
    margin-left: auto;
    margin-right: auto; 
    font-family: 'Maven Pro', sans-serif;
}

h1{
    width: 600px;
    margin-left: 400px;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
}

img{
    width: 600px;
    height: auto;
    margin-left: 320px;
}

.caption{
    font-size: 11px;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
}

.quote{
    font-family: 'Maven Pro', sans-serif;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.pull-quote{
    float: left;
    display: inline-block;
    width: 250px;
    font-size: 30px;
    font-family: 'Maven Pro', sans-serif;
    display: inline;
    margin-left: 40px;
    
   }