body {
  background-color: #F8E0E6;
}
h1, p, div {
  margin-left: auto;
  margin-right: ;
}
h1{
color: purple;
font-family: fantasy;;
font-size: 36px;
text-align: center;
width: 500px;
}
p {
  font-size: 22px;
  width: 500px;
  font-family: inherit;
  text-align: justify;;
}
