/* General Styling */
body {
 background-color: white;
}

.parent {
  background: lightgrey;
  margin-left: 20px;
}


.green-border
{
  border: 1px solid green;
}


.parent2 {
  background: gold;
  margin-left: 20px;
}


.block-element {
  border: 1px solid green;
padding: 10px;

}

.inline-element {
  display: inline;
  border: 1px solid black;
  margin: 10px;
}

.inline-block{
  border: 1px solid blue;
   display: inline-block;
   width: 100px;
   margin: auto;
   padding: 100px;
   text-align: center;

}
.span-block {
    display: block;
    margin: 5px;
}
.center-items {
    text-align: center;
    border: 1px solid pink;
}
.examples.borders > span,
.examples.borders  > div,
.examples.borders  > h2,
.examples.borders  > em {
    border: 1px solid green;
    line-height: 1.5;
    margin-bottom: 4px;
}
.pre-float {
    background: green;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}


.span-box {
    border: 1px solid green;
}
.div-center {
    margin: 0 auto;
    width: 50%;
    height: 60px;
}
.span-box {
    border: 1px solid green;
    text-align: center;
    margin: center;
}
