
p {font-size: 34px;
	width: 500px;
	text-align: center;
	padding-left: 670px;
	padding-right: 670px;
	font-family: 'Comfortaa', cursive;
}


h1{font-size: 64px;
	text-align: center;
	padding-top: 50px;
	font-family: 'Comfortaa', cursive;
}

	h2{font-size: 46px;
	text-align: center;
	font-family: 'Comfortaa', cursive;
}

	