html {
	background-color: ;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	color: black;
	font-size: 550%;
	font-weight: 900;
	font-style: italic;
	text-align: center;
	margin-bottom: -1%;
	margin-top: 5%;
}

h2 {
	font-size: 90%;
	color: grey;
	margin-left: 10%;
	margin-bottom: 7%;
}

h3 {
	font-size: 120%;
	line-height: 40px;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 4%;
	font-weight: 400;
}

.nav {
	margin-top: 4%;
	margin-bottom: 2%;
	border-top: 3px black solid;
	font-size: 400%;
	font-style: italic;

}

header {
	margin-top: 7px;
	
}

ul {
	text-align: center;
}

li{
	padding: 10px;
	margin-right: 50px;
}

a {
	color: black;
}

a:hover {
	color: #F8F1FF;
}
a:link {
	text-decoration: none;
}
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


li {
	padding: 10px;
	overflow: auto;

}












