div, {
    background-color: azure;
}

h1, p {
    
        
        line-height: 30px;
        margin: auto;
        font-family:fantasy;
        color: darkslategrey;
        
    
    
    
    }

.paragraph1 {
    margin-top: 50px;
    text-indent: 50px;
}
center {
    
    font-family: fantasy;
    font-size: 45px;
     
}
}
    p {
        font-size: 17px;
        
    
    
}