h1{
  color:red;
  font-family:serif;;
  font-size: 48px;
  width:500px;
  margin-bottom: auto;
  margin-top: auto;

}
p{
  font-size: 22px;
  width: 500px;
  margin-left: auto;
  margin-right: auto; }

  p{
    color: black;
  }

  div{
    color:red;
    font-family:serif;;
    font-size: 48px;
    width:500px;
    margin-top: : auto;
    margin-bottom: : auto;
    margin-left: auto;
