body {
	background-color: #efd8d5;
}
h1 {font-family: 'Codystar', cursive;color: black; text-align: right; font-size: 60px;
 }

h2 {font-family: 'Codystar', cursive; ;color: black; font-size:21px;
	text-align: right;
}
.travel {
	text-align: center;
	}
p {font-family: 'Chathura', sans-serif;color: black;text-align: center; font-size: 25px;
}
a {text-decoration: none; color:black; font-weight:bold;}