body {
  background-color: white;
}
h1, p, div {
  margin-left: auto;
  margin-right: auto;
}
h1 {
  color: pink;
  font-family: arial;
  font-size: 36px;
  text-align: center;
  width: 600px;
}
p {
  color:grey;
  font-family: arial;
  font-size: 20px;
  width: 600px
}
