body {
  background-color: #52787f;
}
h1 {
    color: #94d8e5;
    font-family: Lucida, sans-serif;
    font-size: 150px;

}

p {
  color: #a5f1ff;
  font-family: Lucida,monospace;
  font-size: 30px;
  width: 650;
  margin-left: 600;
}

p1 {
  color: #a5f1ff;
  font-family: Lucida,monospace;
  font-size: 50px;
  width: 650;

}
