body {
    font-family: 'Josefin Sans', sans-serif;
}
h1 {
    color: black;
}
.purple {
    color: black; 
}
h2 {
    color: black;   
}
div {
    background: #ffffff;
    padding: 20px;
}
p {
    font-size: 30px;
}
.intro-text {
    font-size: 40px;
}
.background-image {
    background: url(../images/jimmy-marble.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}