body {
    font-size: 20px;
}
h1, p {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 50px;
    font-style: italic;
}

.title {
    text-transform: uppercase;
    font-size: 40px;
    width: 950;
    text-align: center;
}
.byline {
    font-size: 20px;
    font-weight: bold;
}
.description {
    font-size: 28px;
    color: gray;
}
.grey-box {
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
}

.title-line{
    width: 900px;
}

.short-line{
    width: 800px;
}

.image-set {
    text-align: center;
}
.image-side {
    background: gray;
    position: relative;
    width: 36%;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

.image-side2 {
    background: gray;
    position: relative;
    width: 800px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

.image-top {
    background: gray;
    position: relative;
    width: 90%;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

/* ----- MOBILE ----- */

@media (max-width: 768px) {

    body {
    font-size: 30%;
    widows: 220px;
}
h1, p {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 25%;
    font-style: italic;
}

.title {
    text-transform: uppercase;
    font-size: 25%;
    width: 25%;
    text-align: center;
}
    .box-break{
        width: 25%;
    }
.byline {
    font-size: 25%;
    font-weight: bold;
}
.description {
    font-size: 25%;
    color: gray;
}
.grey-box {
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
}

.title-line{
    width: 25%;
}

.short-line{
    width: 170px;
}

.image-set {
    text-align: center;
}
.image-side {
    background: gray;
    position: relative;
    width: 28%;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}
.image-top {
    background: gray;
    position: relative;
    width: 28%;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}
}
