.title{
  font-family: 'Pacifico', cursive;
  font-size: 80px;
  text-align: justify;
  width: 600px;
  margin-left: 100px;



}
.journalism{
  font-family: 'Pacifico', cursive;
  font-size: 80px;
  text-align: justify;
  width: 600px;
  margin-left: 200px;
}
.body{
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  margin-top: 30px;
  line-height: 30px;


}

.body2{
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  margin-top: 30px;
  line-height: 30px;
}

.body3{
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  line-height: 30px;
  margin-top: 5px;

}
.quote{
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  text-align: center;
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 350px;
  float: left;
  font-weight: bolder;
  font-style: italic;
}

.all{
  width: 800px;
  height: auto;
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

}
img{
  float: right;
  margin-right: 100px;
  margin-left: 20px;
  border: 3px solid black;
}

.picture1{
  display: inline-block;
  width: 300px;
  height: 200px;
  border: 3px solid black;
  margin-left: 100px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.picture2{
  display: inline-block;
  width: 300px;
  height:200px;
  border: 3px solid black;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
