@font-face {
font-family:Didot; src: url(http://static.tumblr.com/mg35j71/bXyo1u25c/didot-italic.ttf) format(“truetype”);
}

body{
  background-color: white;
  margin-top: 200px;
}
h1{
  font-family:Didot;
  font-size: 50px;
  font-style: italic;
  color:black;
  line-height: 40px;
  margin-bottom: 10px;
}
p{
  font-size: 12px;
  line-height: 17px;
  font-family: Georgia;
  width:auto;
  background-color: white;
  color:black;
}
.main{
  width:300px;
  margin-left: auto;
  margin-right: auto;
  color:white;
  font-family:Helvetica;
  font-size: italic;
}
.author{
  width:300px;
  background-color: white;
  font-family:Didot;
  font-size: 15px;
  line-height: 17px;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.divider{
  width:300px;
  height:20px;
  background-color: black;
  font-family:Times;
  font-size: 15px;
  margin-top: -62px;
  margin-left: auto;
  margin-right: auto;
}
