
h1, p {
 width: 500px;
 margin-left: auto;
 margin-right: auto;
 padding: 10px;
 text-align: left;

}

.header-img {
  width:750px;
  height:750px;

}
.header{
  float: left;
  margin-top: -40px;

}

p{
  padding: 10px;
  border-radius: 20px;
  font-family: 'Handlee', cursive;
}


h1{
  float: left;
  font-family: 'Righteous', cursive;
  font-size: 50px;
  background-color: inherit;
  box-sizing: content-box;
}

.question{

  font-weight: bold;
  color: #1f1f2e;
  text-align: center;
  width: 250px;
  border: 1px solid;
  text-transform: capitalize;

}
.separate{
  width: 250px;
  float: center-elements;
  background: black;
}

.pull-quote {
 font-size: 20px;
 color: black;
 width: 250px;
 float: left;
 text-align: center;
 padding: 5px;
 border-radius: 25px;
   font-size: 25px;

  font-family: 'Dosis', sans-serif;
}
.pull-quote2{
  font-size: 20px;
  color: black;
  width: 250px;
  float: right;
  text-align: center;
  padding: 5px;
  font-size: 25px;
  border-radius: 25px;
  font-family: 'Dosis', sans-serif;
  border: .75px
}

/* Mobile Styles */
@media (max-width: 768px) {
 p {
   width: 100%;
 }
 .set-width-20, .set-width-40, .set-width-60 {
   width: 100%;
 }
 .pull-quote {
   float: none;
   width: 100%;
 }
}

.little{
  font-size: 20px;
  color: black;
  width: 270px;
  float: right;
  text-align: justify;
  padding: 25px;
  font-size: 13px;
  border-radius: 25px;
font-family: 'Dosis', sans-serif;
  border: .75px;
  padding-right: 70px;
  padding-top: 100px;


}
