body{
    background-color: antiquewhite;
    font-family: 'Verlag', sans-serif;
}

h1{
    font-size: 50px;
    text-align: center;
}

h2{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

p{
    width: 600px;
     margin-left: auto;
    margin-right: auto; 
}

a{
    text-decoration: underline;
}

ul{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.colophon{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
}

img{
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  p {
    width: 100%;
  }
img{
    width: 100%;
    }
}


