body {
    font-size: 18px;
}

a {
    color: blue;
}
.zen { 
    font-size: 70px;
font-weight: bolder;
    color: firebrick; 
    text-align: center;
    font-family: monospace;
}
.author {
    font-size: 40px;
font-weight: bolder;
color: darkred;
    text-align: center;
    font-family: monospace;    
} 
.vonnegut { 
    font-size: 25px;
    font-weight: bolder;
    color: dimgray;
    text-align: justify;
    text-align: center;
        font-family: monospace;
}
.rilke {
    font-size: 18px;
        font-weight: inherit;
        color: grey;
            text-align: justify;
    text-align: center;
    font-family: monospace; 
}
.excerpt {
    font-size: 70px;
    font-weight: bold;
    color: gray;
    text-align: center;
    font-family: sans-serif;
}
.end {
    font-size: 18px;
    font-weight: bold;
    color: firebrick; 
    text-align: center;
    font-family: monospace;
    
}

/* mobile override styles go inside this section */
@media (max-width: 768px) {
    
    .excerpt {
        font-size: 40px;
    }
    
}