.container{
padding-top: 100px;
width: 900px;
    margin: auto;
}

p{
 font-family: 'Alegreya SC', serif;
    font-size: 80px;
    color: red;
  text-align: center;

}

.signature{
  font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    margin: auto;
    text-align: center;
        
}
