body{
  background-color: white;
  margin-top: 80px;
  font-family: 'Fauna One', serif;
}

h1{
  font-family:Didot;
  font-size: 150px;
  font-style: bold;
  margin-bottom: 5px;
  margin-left: 50px;
  color: #0B173B;
  text-align: center;
}

p{
  font-size: 24px;
  line-height: 40px;
  font-family: Georgia;
  background-color: white;
  color:black;
  margin-top: 5px;
  text-align: center;
  line-height: 10px;
}

.author{
  font-family:Fauna One;
  background-color: white;
  font-size: 22px;
  text-align: center;
  text-decoration: bold;
}