@font-face {
font-family:Didot; src: url(http://static.tumblr.com/mg35j71/bXyo1u25c/didot-italic.ttf) format(“truetype”); 
}

/*
body{
    background-image: url("beach_back.jpg");
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.table-bordered{
    border: 1px solid #fff;
    border-top-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-left-color: #fff; 
}
td{
    height: 50vh !important;
    width: 100vh !important;
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid #fff;
    text-align: center;
    color:black;
    font-family: Didot;
    text-transform: uppercase;
    font-size: 48px; 
    overflow: hidden;
}
td:hover{
    font-size:25px;
    cursor: pointer;
    background-color: #fff;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}
.menuhidden::before{
    
}
ul.menuhidden::before{
    visibility: hidden;
    z-index:9999;
    display: none; 
    color:black;
    font-family: "Helvetica Neue";
    font-size: 14px;
}
li.menuhidden:hover::after{
    visibility: visible;
    display: block;
    cursor: pointer;
    color:black;
    font-family: "Helvetica Neue";
}
*/

/* ----- new styles ----- */

body {
    background: url(beach_back.png);
    background-size: cover;
}

.col-1, .col-2 {
    width: 50%;
    height: 50vh;
    border: 1px solid white;
    transition: .3s ease;
}
.col-1:hover, .col-2:hover {
    background: rgba(255,255,255,.85);
}
.col-1 {
    float: left;
}
.col-2 {
    float: right;
}
.col-1 h1, .col-2 h1 {
    font-size: 4em;
    padding-top: 20%;
    text-align: center;
    color:black;
    font-family: Didot;
    text-transform: uppercase;
}
.col-1 h1.hide, .col-2 h1.hide {
    display: none;
}
.col-nav {
    list-style: none;
    text-align: center;
    padding-top: 20%;
}
.col-nav ul {
    list-style: none;
    text-align: center;
}
.col-nav.hide {
    display: none;
}
a{
    color: black !important;
    font-family: "Helvetica Neue";
    font-size: 15px;
}
a:hover{
    color: black;
    font-family: "Helvetica Neue";
    font-size: 15px;  
    text-decoration: line-through !important;
}
/* Mobile Styles */
@media (max-width: 768px) {
    h1{
        font-size: 25px;
        line-height: 1.825rem;
    }
.col-1, .col-2 {
    width: 100%;
    position: relative;
}
    h1{
        font-size: 3em !important;
    }