body {
 background-color: #efefef;

 background:
 radial-gradient(circle at 0% 50%, #006666
 9px, #b3ccff 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
 radial-gradient(at 100% 100%,#006666
 9px, #b3ccff 10px, rgba(96, 16, 48, 0) 11px),
 #8a3;
 background-size: 20px 20px;}

h1, p {
 width: 500px;
 margin-left: auto;
 margin-right: auto;
 padding: 10px;
 text-align: left;
 background-color: #d9d9d9;
}

img{
  margin-left: 340px;
  border: 10px solid #006666;

}
p{
  padding: 10px;
  border-radius: 20px;
  font-family: 'Handlee', cursive;
    border: 10px solid #006666;
}

.smalltext{
  font-style: italic;
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
  background-color: white;
  color: black;
 font-variant: small-caps;
 opacity: .85;
font-family: 'Nunito', sans-serif;
}

h1{
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 50px;
  background-color: inherit;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: underline;
  box-sizing: content-box;
  border: 5px dotted black;
}

.header-border{
  border: 5px solid #006666;
  display: center-elements;
  background-color: #006666;
}
.question{
  background-color: #f2f2f2;
  font-weight: bold;
  color: #1f1f2e;
text-align: center;
  width: 250px;
    border: 5px solid #999999;
}

.image{
  float:left;
  display: block;
  border: 10px solid #006666;





}
.separate{
  width: 250px;
  float: center-elements;
  background: black;


}

.pull-quote {
 font-size: 20px;
 color: black;
 width: 250px;
 float: left;
 background: gray;
 text-align: center;
 padding: 5px;
 border-radius: 25px;
   font-size: 25px;
     opacity: .75;
       font-family: 'Chewy', cursive;
}
.pull-quote2{
  font-size: 20px;
  color: black;
  width: 250px;
  float: right;
  background: gray;
  opacity: .75;
  text-align: center;
  padding: 5px;
  font-size: 25px;
  border-radius: 25px;
  font-family: 'Chewy', cursive;
  border: .75px solid black;

}

/* Mobile Styles */
@media (max-width: 768px) {
 p {
   width: 100%;
 }
 .set-width-20, .set-width-40, .set-width-60 {
   width: 100%;
 }
 .pull-quote {
   float: none;
   width: 100%;
 }
}
