
body {
width: 1000px;
margin: 0 auto; 
font-family:inherit;
background-color: beige;
    
}

h1 {
font-size: 15px; 
 
}


p {
font size: 17px; 
font-style: italic;
text-align: center;
}

li {
text-align: center;
font size: 6px;
text-decoration-color: aquamarine; 
font-family:monospace;
    
}