body{
background-color: white;
}
h1{
  font-family:Arial;
  font-size: 50px;
  text-align: right;
  color:black;
  width:400px;
  line-height: 65px;
  margin-bottom: 10px;
  margin-left: 200px;
  margin-top: 150px;
}
p{
  font-size: 22px;
  line-height: 17px;
  font-family: Helvetica;
  width:auto;
  background-color: white;
  color:black;
}
.main{
  width:295px;
  font-family:Helvetica;
  font-style: italic;
  font-size: 13px;
  line-height: 25px;
  margin-left: 620px;
  margin-top: -203px;
  text-align: left;
}
