body {
    font-size: 25px;
}

a {
    color: indianred;
}

.excerpt {
    font-size: 100px;
    font-weight: normal;
    color: blue;
    text-align: right;
    font-family: serif;
}

/* mobile override styles go inside this section */
@media (max-width: 768px) {
    
    .excerpt {
        font-size: 40px;
    }
    
}