body{
  background-color: white;
  margin-top: 5px;
  font-family: 'Poiret One', cursive;
}

p{
  font-size: 20px;
  font-family: 'Poiret One', cursive;
  background-color: white;
  color:#0404B4;
  margin-top: 5px;
  text-align: center;
  line-height: 10px;
}

.author{
  font-family:Didot;
  background-color: white;
  font-size: 50px;
  text-align: center;
  color: #0B0B3B;
  opacity: 0.4;
}

.header{
  font-family:Didot;
  font-size: 360px;
  width: 20px;
  height: 100px;
  margin-left: 50px;
  color: #E0E0F8;
  opacity: 0.4;
}