h1, p, div, h3, h2 {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: black;
  font-family: arial;
  font-size: 50px;
  width: 700px;
}

h2{
display:block;
font-size: 16px;
font-style: italic;
width: 700px
}

h3{
display:block;
font-size: 15px;
width: 500px
}

p {
font-size: 15px;
width: 500px
}

img{
    width: 700px;
    margin-left: 225px;
    margin-right: auto;
}

img2{
    width: 700px;
    margin-left: 225px;
    margin-right: auto;
}

div {
  width: 600px;
  height: 200px;
  padding: 20px;
    
    #nav1 {
    line-height:20px;
    float:left;
    }
}

