body{
  background-color: white;
  margin-top: 5px;
  font-family: 'Dancing Script', cursive;
}

h1{
  font-family:Didot;
  font-size: 300px;
  font-style: bold;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-top: 5px;
  color: #F6CED8;
  text-align: center;
  text-decoration: underline;
}

p{
  font-size: 100px;
  line-height: 50px;
  font-family: Dancing Script;
  background-color: white;
  color:#F5A9BC;
  margin-top: 55px;
  text-align: center;
  line-height: 10px;
}

.author{
  font-family:Didot;
  background-color: white;
  font-size: 100px;
  text-align: center;
  color: #F6CED8;
}