body {
    font-size: 50px;
    color: black; 
    font-family: serif; 
    background-color: white;
    text-align: left;   
    background-image: ("milk-and-honey_blog.png");

}

.byline {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: black
}

.subhead {
    text-transform: lowercase;
    text-align: left;
    color: black;
}
.kaur1 {
    color: black;
    text-align: justify; 
    font-family:serif;
    font-size: 35px;

}

.kaur2 {
    color: black;
    text-align: justify; 
    font-family:serif;
    font-size: 35px;  
}


.kaur3{
    color: black;
    text-align: justify; 
    font-family:serif;
    font-size: 35px;
    font-size: 1em;
    font-style: italic;
    text-align: center;
    border-bottom: 4px solid lightpink;
    border-top: 4px solid lightpink;
    background-color: white;
        
    }



/* mobile override styles go inside this section */
@media (max-width: 768px)
    

  
.in
.stopped{
    color:lightpink;
    font size: 50px;

    
div {
    border: 2px gray;
    border-bottom-style: inset;
    border-bottom-right-radius: inset;
    width:auto
        
    
}