h1, p, div, h3, h2 {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: black;
  font-size: 38px;
  width: 900px;
    height: 17px;

}

h2{
display:block;
font-size: 22px;
    font-style: italic;
width: 800px;
    height: 30px;
}

h3{
display:block;
font-size: 17px;
width: 650px;
font-style: normal;
    height: 100px;
}

p {
font-size: 15px;
width: 500px
}

.header-img {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.center {
    text-align: center;
}
.center img {
    display: inline-block;
    width: 40%;
}
.drop-cap {
  float: left;
  font-size: 35px;
  line-height: .9;
  height: 20px;
  margin-right: 4px;
}
.float-quote{
  float: right;
  font-size: 25px;
  width: 250px;
margin-right: 50px;
}
.float-quote-left{
  float: left;
  font-size: 25px;
  width: 250px;
margin-left: 50px;
}
.mid-line{
    width:650px;
}