body {
  font-family: 'Lora', serif;
  margin-left: auto;
  margin-right: auto;
}

.home {
  text-align: right;
  font-size: 30px;
  margin-right: 20px;
  text-decoration: none;
}
.photo1{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  color: grey;
  font-size: 11px;
}
.center-elements{
  text-align: center;
}

.title{
  width: 350px;
  height: 450px;
  display: inline-block;
  padding-left: auto;
  padding-bottom: auto;
  padding-right: auto;
  line-height: 380%;
}

.future {
  font-size: 68px;
}

.Bright{
  color: yellow;
  font-size: 80px;
  font-weight: bold;
}

.subtitle {
  line-height: 50%;
  font-size: 16px;
}

.byline {
  font-size: 12px;
  font-weight: bold;
  line-height: 70%;
}

.body1 {
  font-style: 14px;
  width: 435px;
  margin-top: -200px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.body2 {
  font-style: 14px;
  width: 435px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.pullquote {
  font-size: 20px;
  float: left;
  width: 250px;
  margin-left: 100px;
  font-weight: 550;
}

.body3 {

}

.pullquote2 {
  font-size: 30px;
  float: right;
  width: 250px;
  margin-right: 100px;
}

.Kevin {
  font-size: 20px;
  line-height: 40%;
}
.photo2 {
  display: inline-block;
  border: solid black 1px;
}

.photo3 {
  display: inline-block;
  border: solid black 1px;
}

.photo4 {
  display: inline-block;
  border: solid black 1px;
}


a {
  text-decoration: none;
}
