h1{
  color: pink;
  background-color: pink;
  text-align: center;
  padding-top: 275px;
  font-family: 'Passion One', cursive;
  letter-spacing: 10px;
  font-size: 50px;

}
body{
  background-color: pink;
}

a:link, a:visited, a:active{
  color: pink;
  text-decoration: none;
}
a:hover{
  color: grey;
}
.circle{

width:500px;
height:500px;
border-radius:50%;
font-size:50px;
color:#fff;
line-height:500px;
text-align:center;
background: white;

}
