h1{
    font-size: 44px;
    font-family: Helvetica;
    font-style: italic;
}
p{
    font-size 12px;
    font-family: Helvetica;
}
.parent{
    background-color: darkgrey;
    width:600px;
}
.child{
    border: 1px blue;
}
.eagle{
    font-family: Arial;
    font-size: 25px;
    color: grey;   
}
.meow{
    border: 1px solid green;
    display: inline;
}
.ghost{
    border: 1px solid orange;
    margin: 5px;
}
.ghost2{
    border: 1px solid orange;
    display: block;
    margin: 5px;
}
.ghost3{
   border: 1px solid orange;
    display: block;
    width:40%;
    margin: 5px;
}
.ghost4{
   border: 1px solid orange;
    display: block;
    width:15%;
    margin: 5px;
}
.cat1{
    display: block;
    border:1px solid blue;
    width: 60%;
}
.cat2{
    display: inline;
    border:1px solid blue;
    margin: 10px;
}
.dog{
    float: center;
    width:40%;
    height:30%;
    border:1px solid pink;
    display: inline-block;
    margin: 20px;
}
.dog1{
    float: center;
    width:40%;
    height:30%;
    border:1px solid pink;
    display: inline-block;
    margin: 20px;
}
.elephant{
    text-align: center;
    border:1px solid green;
}
.tiger{
  border:1px solid green;  
}
.lion{
    border:1px solid green;
}
.pigeon{
    margin-left: auto; 
    margin-right: auto;
    display: block;
    width:50%;
    height:10%;
    border:1px solid grey;
    margin-bottom: 10px;
    
}
.pigeon1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width:50%;
    height:10%;
    border:1px solid grey;
}
.flamingo{
    float:left;
    color:deeppink;
}
.flamingo1{
    float:right;
    color:deeppink;
}
.turkey{
    border:1px solid deeppink;
    display: block;
}
.turkey1{
    border:1px solid deeppink;
    display: block;
    height:100px;
    float: right;
}  
