.header{
 font-size: 30px;
 font-weight:lighter;
 font-family: 'Inconsolata', ;
 text-align: right;
 width: 30%;
 padding: 20px;
 margin-left: auto;
 margin-top: 200px;
}

.quote{
  font-family: 'Source Code Pro', ;
  font-size: 15px;
  line-height: 35px;
  width: 30%;
  padding: 20px;
  font-kerning: 10px;
  margin-left: auto;
  text-align: right;
}
