 /*GENERAL */

body{
background-color: pink;

}

h1{
font-family: Lucida, sans-serif;
font-size: 48px;
position: center;

}

.wyrd{
  font-family: Arial, serif;
  font-size: 52px;
  color: yellow;
  margin-left: 400px;
  margin-top: 100px;
}

img{
  image-orientation: from-image;
}

.contents{
  margin-left: 600px;
  position: relative;
  bottom: 607px;

}

.onlinearticle{
  position: relative;
  bottom: 490px;

}

.spread{
  margin-left: 600px;
  position: relative;
  bottom: 1095px;

}

ul{
  position: relative;
  bottom: 1000px;
  font-family: Lucida, sans-serif;
  font-size: 36px;
  color: white;
  line-height: 40px;


}

 /*MOBILE */

@media (max-width: 768px) {

}
