body{
    background-color: white;
    font-size: 1.125rem;
    font-family: Palatino Linotype;
    line-height: 150%;
}
a:link    {
    font-size: 1.465rem;
    font-family: Palatino Linotype;
    font-style:italic;
    color:black; 
    background-color:transparent; 
    text-decoration:none;
    margin-right: auto;
    margin-left: auto;
}
a:visited {
    font-size: 1.465rem;
    font-family: Palatino Linotype;
    font-style:italic;
    color:Black; 
    background-color:transparent; 
    text-decoration:none;
    margin-right: auto;
    margin-left: auto;   
}

.tigerlily{
    color: black;
    border-bottom:3px solid #cacfd6;
    font-family: Didot;
    font-style: italic;
    font-style: bold;
     text-transform: uppercase;
    font-size: 90px;
    width:600px;
    line-height: 115%;
    margin-right: auto;
    margin-left: auto;
}
.kangaroo{
    color: #3a3a3a;
    margin-top: 20px;
    font-size: 1.125rem;
    font-family: Palatino Linotype;
    line-height: 165%;
    width:600px;
    margin-right: auto;
    margin-left: auto;
}
.overflow {
    overflow: scroll;
    height:450px;
}

.image{
  background-color: white;
  background-image: url("http://i64.tinypic.com/1j8b6d.png");
  z-index:-1;
  position: relative;
  width: 1376px;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}
.koala{
    display: block;
    color: black;
    float:left;
    font-size: 1.865rem;
    font-family: Palatino Linotype;
    line-height: 150%;
    width: 300px;
    margin: 30px;
}
.panda{
    margin-top: 15px;
    font-size: 1.125rem;
    line-height: 17px;
    font-family: Palatino Linotype; 
    width:600px;
    margin-right: auto;
    margin-left: auto;

}
/* Mobile Styles */
@media (max-width: 768px) {
 panda {
   width: 100%;
 }
 .koala {
   width: 100%;
 }
 .pull-quote {
   float: none;
   width: 100%;
 }
 .kangaroo{
   display: inline-block;
   width:100%;
 }
 .tigerlily{
   width: 100%;
 }
.image{
     width:100%;
}
}