body{
 background-color: pink;
 font-family: Didot;
 text-align: justify;
}

.home{
  font-family: Moon Flower;
  font-size: 70px;
  bottom: 550px;
  position: static;
  color: black;
}

.image1{
    top: 0;
    left: 0;
    position: center;
    width: 100%;
    z-index: -1
 }

.image2{
  align-items: center;
  width: 900px;
height: 475px;
}

 h1 {
    position: absolute;
    top: 200px;
    left: 80px;
    width: 100%;
 }

.header{
  font-family: Moon Flower;
  font-size: 75px;
}


.subhead{
  font-family: Moon Flower;
  font-size: 25px;
  margin-left: 40px;
}


.byline{
  font-family: moon flower;
  font-size: 18px;
  margin-right: 640px;
}


h1 span{
  color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: 1px;
   background: orange;
   background: orange;
   padding: 10px;
}

.column1{
  margin-bottom: 200px;
  font-family: Didot;
  font-size: 28px;
  line-height: 35px;
  display: inline-block;
  height: 100px;
  width: 550px;
  margin-left: 20px;
  position: relative;
}


.column1 span{
  width: 5px;
  font-size: 40px;
  font color: white;
}


.column2{
  margin-top: 600px;
  font-family: Didot;
  font color: white;
  line-height: 25px;
  display: inline-block;
  height: 100px;
  width: 550px;
  position: relative;
  bottom: 1823px;
  margin-left: 700px;
}

.column2 span{
  width: 5px;
  font-size: 50px;
}

p{
  margin-bottom: 1px;
  margin-top: 1px;
}


 /*for iphone/mobile compatibility */

@media (max-width: 768px) {
/*mobile-specific styles go here*/
}
