h1, p, div, h3, h2 {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: black;
  font-family: helvetica;
  font-style: italic;
  font-size: 50px;
  width: 700px;
}

h2{
display:block;
font-size: 16px;
font-style: italic;
width: 700px
}

h3{
display:block;
font-size: 15px;
width: 500px
}

p {
font-size: 15px;
width: 500px
}

.header-img {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.center {
    text-align: center;
}
.center img {
    display: inline-block;
    width: 40%;
}
.drop-cap {
  float: left;
  font-size: 90px;
  line-height: .8;
  height: 68px;
  margin-right: 6px;
}
.float-quote{
  float: right;
  font-size: 30px;
  width: 300px;
}
.drop-cap-right{
  font-size: 90px;
  line-height: .75;
  margin-right: 1px;
  height: 32px;
  display: inline-block;
  overflow: hidden;
}
.hang {
  margin-left: -40px;
}
