body {
    
    background: url("http://67.media.tumblr.com/a83009f8fb80b8a6d95518b79805d7de/tumblr_mv4mvormJr1re3am6o1_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans Condensed', sans-serif;
}
a {
    color: azure;
}
h1 { 
    font-size: 40px;
    color: cadetblue;
    text-align: center;
}
h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: cadetblue;
    text-align: center;
}
h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: left;
    color: cadetblue;
}

.section-uno { 
    color: goldenrod;
    text-align: center;
    font-size: 18px;"
}

.soen-sa { 
    font-size: 20px;
    font-weight: bold;
    color: rosybrown;
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
}

.section-dos { 
    font-size: 18;
    color: tan;
    text-align: right;
}

.section-tres { 
    font-size: 20;
    text-align: justify;
    color: darkgoldenrod;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 25%;
    margin-left: 25%;
    border: 1px solid black;
}
.quotetwo {
    color: cadetblue;
    font-family: 'Open Sans Condensed', sans-serif;
}

.excerpt {
    font-size: 20px;
    font-weight: bold;
    color: rosybrown;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 2;
}

.largo {
    font-size: 16px;
    display: inline-block;
    height: 10px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
}

.impact {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
}
.zen {
    font-size: 30;
    text-align: justify;
    color: darkgoldenrod;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 25%;
    margin-left: 25%;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
}
/* mobile override styles go inside this section */
@media (max-width: 768px) {
    
    }
    
}