.T{
  font-family: Sail;
  font-size:800px;
  display: inline;
  margin-left: 20%;
}

.Title{
  font-family: Old Standard TT;
  font-size: 18px;
  display:inline;
}

.Vision{
  font-family: Old Standard TT;
  font-size: 18px;
  width: 40%;
  margin-left: 30%;
}

.T_1{

  font-family: Old Standard TT;
  font-size: 200px;
  text-align: center;
}

.v_images{
  margin-left: 30%;
  height: 637px;
  width: 487px;
}
.h_images{
  margin-left: 25%;
  height: 487px;
  width:637px;
}

.T_2{
  font-family: Old Standard TT;
  font-size: 150px;
  text-align: center;
}

.experience{
  font-family: Old Standard TT;
  font-size: 18px;
  width: 50%;
  margin-left: 25%;
  text-align: center;
}

.number{
  font-family: Old Standard TT;
  font-size: 200px;
  display:inline-block;
  margin-left: 20%;
}

.step_1{
  font-family: Old Standard TT;
  font-size: 16px;
  display: inline-block;
  width:40%;
}

.number_2{
  font-family: Old Standard TT;
  font-size: 200px;
  display:inline-block;
  margin-left: 20%

}

.step_2{
  font-family: Old Standard TT;
  font-size: 16px;
  display: inline-block;
  width: 40%;

}

.h_scroll{
  background-color: black;
  margin-left: 20%;
  height: 375px;
  width: 725px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.T_3{

  font-family: Old Standard TT;
  font-size: 150px;
  text-align: center;
}

.inspiration_2{
  font-family: Old Standard TT;
  font-size: 18px;
  margin-left: 25%;
  width: 50%;
  text-align: center;
}

.context{
  font-family: Old Standard TT;
  font-size: 10px;
  text-align: center;
  margin-left: 30%;
  width: 40%;
}

@media (max-width:768px){
  .T{
    font-size: 400px;
  }
  .Title{
    font-size: 12px;
  }
  .T_1{
    font-size: 125px;
  }
  .T_2{
    font-size: 100px;
  }
.number{
  display: block;
  text-align: center;
}
.step_1{
  display: block;
  margin-left: 35%;
}

.number_2{
  display: block;
  text-align: center;
}

.step_2{
  display: block;
  margin-left: 35%;
}

.T_3{
  font-size: 100px;
}
.h_scroll{
  display: none;
}
.v_images{
  width: 225px;
  height: 300px;
}
.h_images{
  width: 300px;
  height: 225px;
}
}
