body {
    font-size: 19px;
}

a {
    color: red;
}

.excerpt {
    font-size: 880px;
    font-weight: italic;
    color: gray;
    text-align: right;
    font-family: fantasy;
}

/* mobile override styles go inside this section */
@media (max-width: 768px) {
    
    .excerpt {
        font-size: 40px;
    }
    
}