@font-face {
font-family:Didot; src: url(http://static.tumblr.com/mg35j71/bXyo1u25c/didot-italic.ttf) format(“truetype”); 
}

body{
    background-color: white;
}
.title{
    width:1024;
    font-family: Didot;
    font-style: italic;
    text-transform: uppercase;
    font-size: 125px;
    padding-left: 35px;
}
.menu{
    text-decoration: none;
    color: black;
    float: right;
    padding: 10px;
    top: 0px;
    font-family: Didot;
    font-style: italic;
    text-transform: uppercase;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover { 
    text-decoration: underline;
    color: black;
}
img{
    float: right;
    bottom: -10px;
    padding-right: 40px;
}
/* Mobile Styles */
@media (max-width: 768px) {
     .pull-quote {
       float: none;
       width: 100%;
     }
    .image{
         width:100%;
    }
}