body {
  background-color: white;
padding: 40px;
overflow-x: hidden; /* For Opera */
-webkit-box-shadow:
  inset #000000 0 0 0 15px,
  inset #000000 0 0 0 3px,
  inset #1c1c1c 0 0 0 30px,
  inset #2E2E2E 0 0 0 33px,
  inset #424242 0 0 0 48px,
  inset #585858 0 0 0 51px,
  inset #A4A4A4 0 0 0 66px,
  inset #BDBDBD 0 0 0 69px;
-moz-box-shadow:
inset #000000 0 0 0 15px,
inset #000000 0 0 0 3px,
inset #1c1c1c 0 0 0 30px,
inset #2E2E2E 0 0 0 33px,
inset #424242 0 0 0 48px,
inset #585858 0 0 0 51px,
inset #A4A4A4 0 0 0 66px,
inset #BDBDBD 0 0 0 69px;
box-shadow:
inset #000000 0 0 0 15px,
inset #000000 0 0 0 3px,
inset #1c1c1c 0 0 0 30px,
inset #2E2E2E 0 0 0 33px,
inset #424242 0 0 0 48px,
inset #585858 0 0 0 51px,
inset #A4A4A4 0 0 0 66px,
inset #BDBDBD 0 0 0 69px;
}

h1 {
  color: black;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  padding: 20px;
  font-size: 70px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;

}
p {
  font-family: 'Fira Sans', sans-serif;
  font size: 20px;
  width: 500px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
h1, p{
  margin-left: auto;
  margin-right: auto;
}
  div {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    background-color: blue;
    margin: 30px;
    padding: 10px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }

.blue {
    background-color: blue;
  }
