h1, .subheader {
margin-left: auto;
margin-right: auto;
text-align: center;

}

.subheader {
  font-size: 26px;
}

.photos {
  margin-left: auto;
  margin-right: auto;
  width: 800px;

}
.text {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Crimson Text', serif;
  width: 600px;
  text-align: left;
}

.IRL {
  margin-top: -10px;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}

img{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 26px;
  font-weight: normal;
}

.Subway {
  display: inline;
  height: 500px;
}

.AppIcon {
  display: inline;
  height: 500px;
}

/*-------MOBILE-------*/
@media (max-width: 768px) {
.photos, hr, .text{
    width: 100%;
  }
.text {
  padding-left: 10px;
  padding-right: 10px;
}
}
