/* General Styling */
body {
 background-color: white;
  font-size: 18px;
}

h1 {
  font-style: bold;
  font-size:200px;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 60%;

}

h2 {
  font-size: 6em;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 60%;
}

h3 {
  font-size:4em;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 60%;
}
/* Image and Text Styling */
.img-and-text {
  height: 100vh;
  padding: 40px;
}

p {
  font-size: 1em;
  width: 50%;
}

/* -----MOBILE----- */
@media (max-width:768px) {
/* mobile specific styles go here */
}
