body {
    font-family: 'Metal Mania', cursive; 
    text-align: center;
    background: black;
    color:red;
}
h1{
    font-size: 140px;
}
.monster{
    font-size:140px;
}
a{
    color: red;
}
p{
    font-size: 140px;
}