h1{
font-size:60px;
}


.parent {
  font-style: italic;
  font-size: 60px;
  border: 1px solid grey;
  width:auto;
  height:auto:
  padding:10px;
}
h2{
  font-size:60px;
}
.border-grey{
  border: 1px solid blue;
  margin: 2px
}

.border-blue {
  border: 1px solid blue;
  margin:2px;
}

h3{
  font-size:60px;
}

.display-block{
  display: block;
  border: 1px solid grey;
  margin: 2px;
}

.display-inline{
  display: inline;
  border: 1px solid grey;
  margin: 2px;
}

h4{
  font-size: 60px;
}
.yellow {
  display: inline-block;
  border: 1px solid grey;
  margin: 10px;
  width: 40%;
  height: 140px;
}

h5{
  font-size: 60px;
}

.blue{
  text-align: center;
  border: 1px solid grey;
}
.yellow1{
  border: 1px solid grey;
}

h5{
  font-size: 60px;
}
.purple{
  text-align: center;
  border: 1px solid grey;
  width: 40%;
  height: 140px;
  margin-right: auto;
  margin-left: auto;
}

h6{
  font-size: 60px;
}

.yellow2{
  border: 1px solid grey;
}

.yellow3{
  border: 1px solid grey;
  background-color: grey;
  float: left;
}

.yellow4{
  border: 1px solid grey;
  background-color: grey;
  float: right;
}

.short-div {
  width: 200px;
  background: yellow;
}

h7
{
  font-size: 60px;
}

.pink{
  border: 1px solid grey;
}

.red{
  border: 1px solid grey;
  background:pink

}
