

.header {
font-family: 'Handlee', cursive;
width: 650px;
height: 350px;
margin-top: -400px;
margin-left: auto;
margin-right: auto;
background-image: url(Globe.jpg);
}

.title {
  text-align: right;
  font-size: 50px;
  margin-top: 400px;
}

span {
  font-style: bold;
  font-size: 65px;
  line-height: 70%;
}

.text {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  font-family: 'Crimson Text', serif;
}

.footer {
  background-image: url(GlobeCopy.jpg);
  width: 650px;
  height: 53px;
  margin-left: auto;
  margin-right: auto;
}
img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
