body {
    font-size: 19px;
}

a {
    color: red;
}



/* mobile override styles go inside this section */
@media (max-width: 768px) {



.p1
    {
      font-size: 20px;
    word-wrap: break-word;
    width: 5px;   
    color: black;
    text-align: inherit;
    font-family: "David+Libre"; 
    border-style: dashed;
    border-width: medium;
    
    }
    
.
    
div
    
    {word-wrap: break-word;
        width: 24px; 
    
    
    
    }
